@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', 'Poppins', sans-serif;
}

nav {
    height: 4.5rem;
    padding: 1.4rem 2rem;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

nav img {
    max-width: 5rem;
}

main {
    padding: 0 2.3rem;
}

section {
    padding: 1.25rem;
}

.gray {
    color: #918E9B;
}

.m-0 {
    margin: 0;
}

.App--hero {
    display: flex;
    flex-direction: column;
}

.Hero--img {
    max-width: 450px;
    align-self: center;
}

.App--hero > h1 {
    margin: 2rem 0 1rem;
    font-size: 36px;
    line-height: 110%;
}

.App--hero > p {
    max-width: 20rem;
    line-height: 110%;
}

.Cards {
    display: flex;
}

.Card {
    width: 11rem;
    font-size: 0.75rem;
}

.Card--image {
    width: 100%;
    margin-bottom: 9px;
}

.Card--stats {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.Card--star {
    height: 14px;
}

.Card--description {
    padding-block: 0.5rem;
}
